@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "HelveticaNeue-55Roman", sans-serif;
  color: rgb(133, 135, 140);
  background: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

[class*=__ibg] {
  position: relative;
}

[class*=__ibg] img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}